.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerCards {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 60px;
  justify-content: center;
  margin-top: 30px;
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 60px 0;
  font-weight: bold;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border: 1px solid #fe9f02;
  color: #fe9f02;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #fe9f02;
}

.paginationActive a {
  color: white;
  background-color: #fe9d02;
}

.paginationDisabled a {
  color: #000000;
  background-color: #fe9f02;
}

::-webkit-scrollbar {
  display: none;
}
