.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.title {
  font-size: 70px;
  color: #fe9f02;
  font-weight: bold;
}
.containerCards {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 60px;
  justify-content: center;
  margin: 50px 0;
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.paginationBttns a {
  border-radius: 10%;
  padding: 10px;
  margin: 8px;
  border: 1px solid #fe9f02;
  color: #fe9f02;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #fe9f02;
}

.paginationActive a {
  color: white;
  background-color: #fe9d02;
}

.paginationDisabled a {
  color: #000000;
  background-color: #fe9f02;
}

::-webkit-scrollbar {
  display: none;
}

.containerNotFound {
  width: 800px;
  display: flex;
  justify-content: center;
}

/*Aside*/
.asideGrid {
  width: 100%;
  margin-top: 50px;
  /* border: 1px solid #fff; */
}
@media screen and (min-width: 1300px) and (max-width: 1700px) {
.title {
  font-size: 80px;
  padding-left: 45px;
}
}
@media (max-width: 400px) {
  .title {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
  }

  .paginationBttns {
    margin: 40px 0;
  }
}
