.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}

.title {
  font-size: clamp(2rem, 6vw, 5rem);
  color: #fe9f02;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.containerCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
  justify-items: center;
  margin: 40px 0;
  padding: 0 20px;
  list-style: none;
  box-sizing: border-box;
}

.paginationBttns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;       
  list-style: none;
  padding: 0;
  margin: 40px 0;
  width: 100%;
}

.paginationBttns a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 35px; 
  height: 35px;
  padding: 5px;  
  border: 1px solid #fe9f02;
  color: #fe9f02;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
}

.paginationBttns a:hover {
  color: white;
  background-color: #fe9f02;
}

.paginationActive a {
  color: white;
  background-color: #fe9d02;
}

.paginationDisabled a {
  color: #000000;
  background-color: #fe9f02;
}

::-webkit-scrollbar {
  display: none;
}

.containerNotFound {
  width: 800px;
  display: flex;
  justify-content: center;
}

/*Aside*/
.asideGrid {
  width: 100%;
  margin-top: 50px;
  /* border: 1px solid #fff; */
}
@media screen and (min-width: 1300px) and (max-width: 1700px) {
  .title {
    font-size: 80px;
    padding-left: 45px;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 20px 0;
  }
  .containerCards {
    grid-template-columns: 1fr; 
    gap: 25px;
  }
  .paginationBttns {
    gap: 5px;
  }

  .paginationBttns a {
    min-width: 30px; 
    height: 30px;
    font-size: 0.8rem;
    margin: 2px;
  }
}
@media (max-width: 400px) {
  .title {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
  }

  .paginationBttns {
    margin: 40px 0;
  }
}
