.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  color: #fe9f02;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.image {
  width: 70%;
}

.containerInformation {
  width: 80%;
  font-size: 1.5rem;
  margin-top: 30px;
}
.list1 {
  align-self: center;
}
.li {
  list-style: none;
  margin-bottom: 5px;
}
.p {
  font-weight: bold;
  text-transform: uppercase;
}
.a {
  color: #fe9f02;
}
.title2 {
  color: #fe9f02;
  font-weight: bold;
  text-transform: uppercase;
}

.subTitle {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

@media (max-width: 400px) {
  .title {
    font-size: 2rem;
    text-align: center;
    margin: 30px 0;
  }

  .image {
    width: 100%;
    height: 200px;
  }

  .containerInformation{
    width: 90%;
    font-size: 1rem;
  }
}
