.containerCard {
  width: 300px;
  color: ghostwhite;
  list-style: none;
  background: hsla(0, 0%, 100%, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  /* border: 5px solid;
  border-image:
  linear-gradient(
    #ff512f,
    #dd2476,
    #1c64ff
  )1;
  animation: rotate 2.5s ease-in infinite */
}

/* @keyframes rotate {
  50%{
    border-image: linear-gradient(
      360deg,
      #ff512f,
    #dd2476,
    #1c64ff
    )1;
  }
} */

.containerCard:hover {
  transform: scale(1.05);
  opacity: 0.6;
  cursor: pointer;
}
.containerInformation {
  width: 90%;
}
.image {
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 168px;
}

.platforms {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.title {
  margin: 10px;
}
.namePlatform {
  margin: 5px;
}
.titleGame {
  margin: 10px 0 0 10px;;
  align-self: flex-start;
}

.info {
  display: flex;
  height: auto;
  font-size: 12px;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid rgb(105, 105, 105);
  }
.wrap{
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
}
.calification {
  display: flex;
  align-items: center;
}
.star {
  color: rgb(186, 186, 81);
  margin: 0;
  width: 30px;
  font-size: 20px;
}

.end {
  border: none;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  font-size: 1.05rem;
  font-weight: bold;
}

.pagraph{
  font-weight: bold;
  text-decoration: underline;
}

