.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer{
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}

.btnContainer button{
  background: none;
  color: #fff;
  border: 1px solid #fe9f02;
  height: 40px;
  width: 80px;
  cursor: pointer;
  font-weight: bold;
}
.titleGame {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fe9f02;
  margin-bottom: 30px;
}

.routes {
  align-self: flex-start;
  margin-left: 100px;
}
.containerAbout {
  display: flex;
  width: 90vw;
  margin-bottom: 25px;
}
.img {
  width: 550px;
  border-radius: 10px;
}
.containerInfo {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  margin-right: 15px;
}

.containerInfo2 {
  display: grid;
  width: 90vw;
}

.titleInfo {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 10px;
}
.info {
  display: flex;

  flex-wrap: wrap;
  margin-bottom: 10px;
}

.nameInfo {
  margin-right: 10px;
}

.containerPlatformAndRequirements {
  align-self: flex-start;
  margin: 0 75px;
}

@media (max-width: 400px) {
  .container {
    align-items: flex-start;
    width: 95%;
  }
  .containerAbout {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
  }
  .img {
    width: 300px;
    height: 180px;
  }
  .titleGame {
    align-self: center;
    text-align: center;
    width: 100%;
  }

  .routes {
    margin: 0;
  }
  .titleAbout {
    margin-top: 15px;
  }
  .containerPlatformAndRequirements {
    width: 100%;
    margin: 0;
  }
}
