.container {
  width: 100vw;
  border-top: 1px solid #fe9f02;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fe9f02;
  background: #ffffff12;
}

.containerName {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.containerIcons {
  width: 350px;
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
}

.icon:hover{
  font-size:3rem;
  color: #fff;
  cursor: pointer;
}

.link{
  color: #fe9f02
}

