.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

/* ESTILOS PARA ESCRITORIO (Cuando la pantalla crece) */
@media (min-width: 900px) {
  .container {
    flex-direction: row;
    justify-content: center; /* Centra el buscador si quieres */
    margin: 20px 0;
  }
 
  .searchContainer {
    display: none;
  }
}