/* CONTENEDOR GENERAL */
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px;
}

/* TÍTULO */
.title {
  font-size: 2.5rem;
  color: #fe9f02;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

/* FORM */
.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff12;
  padding: 40px 20px;
  border-radius: 8px;
}

/* INPUT CONTAINER */
.containerInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* INPUTS */
.input {
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 2px solid #fe9f02;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 8px 4px;
}

.input:focus {
  outline: none;
  border-bottom-color: #ffb733;
}

/* IMAGEN */
.containerImage {
  align-items: center;
  margin-bottom: 30px;
}

.containerImage p {
  align-self: flex-start;
  margin-bottom: 10px;
}
.inputFile {
  width: 100%;
}
.imgPreview {
  width: 100%;
  max-width: 260px;
  margin-top: 15px;
  border-radius: 6px;
  object-fit: cover;
}

/* SPINNER */
.spinnerContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: #fe9f02;
}

/* BOTÓN */
.button {
  width: 100%;
  max-width: 200px;
  height: 45px;
  margin-top: 30px;
  border: 2px solid #fe9f02;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
}

.button:hover {
  background: hsla(0, 0%, 100%, 0.07);
  cursor: pointer;
}

/* ===================== */
/* TABLET */
@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .form {
    padding: 40px;
  }
}

/* ===================== */
/* DESKTOP */
@media (min-width: 1024px) {
  .form {
    max-width: 700px;
  }

  .imgPreview {
    max-width: 300px;
  }
}
