.container {
  display: flex;
  justify-content: space-around;
  background: #151515;
  height: 100px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 0.1px solid #fff;
  margin-bottom: 30px;
}

.containerTitle {
  display:flex;
  align-items: center;
  flex-direction: row;
}
.image {
  width: 50px;
  margin: 0 10px;
}
.title {
  margin-bottom: 0;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
}
