.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background: #ffffff12;
}
.menuResponsive {
  display: none;
}

.logo{
    margin-left: 50px;
}

.logo:hover{
    color: #fe9f02;
}

.containerOptions{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-right: 50px;
}
.option{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.option:hover{
    color: #fe9f02;
}