.searchContainer {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.searchBox {
  position: relative;
  width: 50vw;      
  display: flex;
}

.searchInput {
  height: 60px;
  flex: 1;
  width: 100%;       
  border: 5px solid #ffffff12;
  border-radius: 30px;
  background: hsla(0, 0%, 100%, 0);
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;   
  padding-left: 25px;
  padding-right: 60px; 
  color: #fff;
  box-sizing: border-box; 
}

.searchButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

/* Ajustes específicos para móviles */
@media (max-width: 600px) {
  .searchInput {
    height: 50px;   
    font-size: 18px;
    border-width: 3px;
  }
  .searchBox {
    width: 90vw;
  }
}