.searchContainer {
  display: flex;
  justify-content: center;
}

.searchBox {
  position: relative;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
  padding-right: 20px;
}

.searchInput {
  height: 60px;
  width: 800px;
  border: 5px solid #ffffff12;
  border-radius: 30px;
  background: hsla(0, 0%, 100%, 0);
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 30px;
  padding-left: 30px;
  color: #fff
}

.searchInput::placeholder {
  color: 2;
  color: #fff
}

.searchInput::selection {
  color: #fe9f02;
}

@media (max-width: 768px) {
  .searchContainer{
    display: none;
  }
}
