.searchContainer {
  display: flex;
  justify-content: center;
}

.searchBox {
  position: relative;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
}

.searchInput {
  height: 20px;
  width: 150px;
  border-radius: 5px;
  background:hsla(0,0%,100%,.07);
  padding: 5px 30px 5px 10px;
  margin-bottom: 5px;
  border: 1px solid #fe9f02;
  color:#fe9f02;
  font-weight: bold;
  
}

.searchInput:focus{
  background: transparent
}

.searchInput::placeholder {
  color: #fe9f02
}

.searchInput::selection{
  color: #fe9f02
}
