.container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 12px;
}

.containerLogin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22vw;
  height: 40px;
  background: hsla(0, 0%, 100%, 0.07);
  margin-right: 30px;
}

.buttonLogout {
  height: 30px;
  width: 160px;
  background: transparent;
  border: 1px solid #fe9f02;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
}
.buttonLogout:hover {
  font-weight: bold;
  color: #fe9f02;
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.07);
}

@media screen and (max-width: 400px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  .containerLogin {
    width: 100%;
  }

  .buttonLogout {
    width: 90px;
    height: 30px;
    font-size: 10px;
  }
}
